* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --bg-color: black;
    --text-color: white;   
    --main-color: #ffcc00;
    --accent-color: #ff7300; 
    --big-font: 90px;
    --p-font: 28px;
    --gradient-bg: linear-gradient(135deg, #ff7300, #ffcc00);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: arial, sans-serif;
    line-height: 1.6;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.logo img {
    width: 80px;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
}

.navigation {
    display: flex;
    align-items: center;
}
.navigation img{
    width: 190px;
    display: none;
}
.navigation a {
    margin: 0 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: bold;
    transition: all 0.3s ease;
}

.navigation a:hover {
    color: var(--accent-color);
    transform: scale(1.3);
}

.rightContent {
    display: flex;
    align-items: center;
}

.rightContent div {
    margin-bottom: 10px;
}

.sign-in {
    padding: 10px 20px;
    background: var(--gradient-bg);
    border: none;
    border-radius: 5px;
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: bold;
    transition: all 0.3s ease;
}

.sign-in:hover {
    background: var(--accent-color);
    color: var(--text-color);
    transform: translateY(-3px);
}

#menu-icon {
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
section {
    padding: 0 14%;
}

.front-cover {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('background.jpg') no-repeat center center/cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 32px;
    overflow: hidden;
}

.front-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.front-cover .dish-descrip, .front-cover .front-img {
    position: relative;
    z-index: 2;
}

img {
    width: 700px;
}

.hide {
    display: none;
}

.front-img img {
    margin-top: 55px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.left{
    text-align: left;
}
.center{
    text-align: center;
    margin-right: 150px;
}
.right{
    margin-right: 100px;
    text-align: right;
}

.dish-descrip h1 {
    font-size: var(--big-font);
    font-weight: 900;
    color: var(--accent-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dish-descrip h5 {
    margin-top: 100px;
    font-size: var(--p-font);
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--main-color);
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.dish-descrip p {
    width: 100%;
    max-width: 650px;
    font-size: var(--p-font);
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 32px;
    color: var(--text-color);
    margin-bottom: 40px;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.order {
    display: flex;
    align-items: center;
}
.order a{
    margin: 0 10px;
}
.order-btn {
    padding: 12px 30px;
    background: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.order-btn:hover {
    background: var(--main-color);
    transform: scale(1.1);
}

.order-btn a{
    padding: 0 35px;
}

.order-btn:hover {
    transform: scale(1.2);
    background: var(--main-color);
}

.discount {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--text-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.discount span {
    color: var(--accent-color);
}

.menu {
    padding: 50px 5%;
    background: var(--bg-color);
}

.menu h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    color: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.hidelp{
    display: none;
}
.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu-item {
    background: #2a2a2a;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
}

.menu-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#menu-list {
    display: none;
    list-style: none;
    padding: 10px;
    background-color: rgba(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 30%;
    border-radius: 7px;
    z-index: 1000;
    overflow-y: auto;
}

.menu-item img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#menu-list.show {
    display: flex;
    flex-direction: column;
}

#menu-list li {
    margin: 10px 0;
}

#menu-list .pad{
    margin: 50px 0;
    font-size: var(--big-font);
    color: var(--accent-color);

}

#menu-list li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--p-font);
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

#menu-list li a:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
    border-radius: 5px;
}

.foods, .drinks{
    margin-left: 40px;
}

.menu-item a{
    display: inline-block;
    justify-items: center;
    padding: 12px 28px;
    margin-top: 50px;
    margin-left: 25px;
    background: var(--accent-color);
    border: 2px solid transparent;
    border-radius: 17px;
    color: var(--bg-color);
    font-weight: 500;
    font-size: 16px;
    transition: all .6s ease;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-button {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: var(--main-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}

.toggle-button:hover {
    background: darken(var(--main-color), 10%);
}

.menu-item h3 {
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.menu-item p {
    font-size: var(--p-font);
    color: var(--text-color);
    margin-bottom: 15px;
}

.testimonials {
    padding: 35px 14%;
    background: var(--accent-color);
}

.testimonials h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    color: var(--bg-color);
}

.testimonial-items {
    display: flex;
    justify-content: space-between;
}

.testimonial-item {
    width: 30%;
    text-align: center;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial-item p {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.testimonial-item h4 {
    font-size: 20px;
    color: var(--main-color);
}

footer {
    background: #111;
    color: var(--text-color);
    padding: 20px 5%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content img {
    width: 100px;
    margin: 10px 0px 10px 10px;
    border: 2px var(--accent-color) solid;
    border-radius: 100%;
}

.footer-content h5 {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: var(--accent-color);
}

.footer-content p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.socials {
    display: flex;
}
.socials img {
    width: 36px;
    height: 36px;
    margin: 10px;
    border: 1px var(--text-color) solid;
    border-radius: 100%;
}
.socials li {
    margin-right: 10px;
    cursor: pointer;
}
.footer-content p {
    font-size: 22px;
    letter-spacing: 2px;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.footer-bottom p img {
    width: 20px;
    height: 20px;
    border: 1px var(--text-color) solid;
    border-radius: 100%;
}

@media (max-width: 767px) {
    :root {
        --big-font: 30px;
        --p-font: 12px;
    }

    .logo img {
        width: 100px;
    }

    .sign-in {
        padding: 6px 10px;
        font-size: 12px;
    }
    .left{
        text-align: left;
        margin-left: 120px;
    }
    .center{
        text-align: center;
        margin-left: 150px;
    }
    .right{
        margin-left: 200px;
        text-align: right;
    }

    .discount {
        display: none;
    }

    .discount {
        display: block;
    }

    .order-btn {
        padding: 6px 16px;
        font-size: 14px;
        margin-left: 20px;
        padding: 20px;
    }

    .price {
        font-size: 18px;
    }

    .dish-descrip {
        text-align: center;
    }

    .dish-descrip h5 {
        font-size: 14px;
    }

    .navigation {
        padding-top: 80px;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100%;
        background-color: var(--bg-color);
        transition: right 0.3s ease;
        z-index: 1000;
    }

    .hide {
        display: block;
    }

    .hidelp{
        display: block;
    }

    .hideph{
        display: none;
    }

    .hide img {
        width: 300px;
    }

    .navigation a {
        margin: 10px 0;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }
        
    .navigation.show {
        right: 0;
    }

    .front-cover {
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .front-img {
        display: none;
    }

    .menu-selection {
        padding-bottom: 100px;
        cursor: pointer;
    }
    
    #menu-section h2 {
      font-size: var(--big-font);
    }
    
    #menu-icon {
        display: block;
    }

    #menu-icon img {
        width: 30px;
    }

    .menu-item {
        width: 100%;
    }
    #menu-list{
      margin-right: 50%;
    }

    .testimonial-items {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-item {
        width: 90%;
        margin-bottom: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    footer {
        padding: 20px 14%;
        text-align: center;
    }

    
}

@media (min-width: 1072px) and (max-width: 1440px) {
    :root {
        --big-font: 70px;
        --p-font: 20px;
    }

    .sign-in {
        padding: 8px 20px;
        font-size: 18px;
    }

    .order-btn {
        padding: 8px 20px;
        font-size: 20px;
    }

    .discount {
        font-size: 22px;
    }

    .dish-descrip h5 {
        font-size: 20px;
    }

    .dish-descrip h1 {
        font-size: 70px;
    }

    .dish-descrip p {
        font-size: 20px;
    }

    .menu-item {
        width: 30%;
    }

    .testimonial-item {
        width: 30%;
    }
}

@media (min-width: 1441px) {
    :root {
        --big-font: 90px;
        --p-font: 28px;
    }

    .logo {
        font-size: 60px;
    }

    .sign-in {
        padding: 10px 26px;
        font-size: 22px;
    }

    .order-btn {
        padding: 12px 28px;
        font-size: 24px;
    }

    .discount {
        font-size: 28px;
    }

    .dish-descrip h5 {
        font-size: 28px;
    }

    .dish-descrip h1 {
        font-size: 90px;
    }

    .dish-descrip p {
        font-size: 28px;
    }

    .menu-item {
        width: 30%;
    }

    .testimonial-item {
        width: 30%;
    }
}